@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url(./reset.css);
@import url(./form_connection.css);
@import url(./form_inscription.css);
@import url(./responsive.css);

/* header and nav bar */

.headband{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--white);
    vertical-align: middle;
    box-shadow: 0px 5px 12px #414141;
    
}
header img{
    cursor: pointer;
}

.navbar button{
    margin: auto 3rem 0 4rem;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-flex;
    background-color: var(--white);
    font-size: inherit;
}

#create_button {
    background-color: var(--item);
    color: var(--white);
    padding: 22px ; 
    font-size: inherit;
}

/* main section home */


h2{
    display: block;
}
#scroll-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: .5rem;
    border-radius: 5rem;
    background-color: var(--item);
    box-shadow: 0px 5px 12px #414141;
    cursor: pointer;
}
.home {
    display: flex;
}
.home h2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: url("../asset/home-hero.jpg")center / cover;
    color: var(--white);
    padding: 20px;
    font-size: 4rem;
    padding: 15% 60% 20% 8%;
}

.account-creation{
    background-color: var(--item);
    color: var(--white);
    padding: 2.5rem 4.5rem;
    border: none;
    border-radius: 2px;
    margin-top: 1rem;
    box-shadow: 0px 5px 12px #414141;
    cursor: pointer;
}

/* footer */

footer{
    text-align: center;
    width: 100%;
}