@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* reset css */

html{
    font-size: 62.5%;
    font-weight: 300;
}
body{
    font: 1.6rem "Open-Sans", sans-serif;
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    height: 100vh;
    scroll-behavior: smooth;
    
}

h1,h2,h3,p,figure,ul,ol,button{
    margin: 0;
    padding: 0;
    font-weight: 100;
    list-style-type: none;
}

input[type="text"], 
input[type="email"],
input[type="password"],
input[type="submit"]{
    border: 0;
    background: none;
    font-size: inherit;
}

a{
    text-decoration: none;
    color: #222;
}
*{
    box-sizing: border-box;
    max-width: 100%;
}

:root{
    --white: #fafafa;
    --item: #DD5347;
}

/* header and nav bar */

.headband{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--white);
    padding: 10px;
    vertical-align: middle;
}

.navbar{
    margin-left: auto;
    
}
.navbar ul {
    display: flex;
}

.navbar li{
    margin-left: 90px;
}

.navbar a{
    display: block;
    text-align: center;
}

/* main section home */

.home {
    display: flex;
}
.home h2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: url("../asset/home-hero.jpg")center / cover;
    color: var(--white);
    padding: 20px;
    font-size: 4rem;
    padding: 15% 60% 20% 8%;
}

.account-creation{
    background-color: var(--item);
    color: var(--white);
    padding: 2.5rem 4.5rem;
    border: 0;
    margin-top: 1rem;
}

/* responsive */

@media screen and (max-width: 768px) {

    .headband {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navbar li{
        margin: 0;
        margin-left: 10px;
    }

    .home h2 {
        font-size: 4rem;
        padding: 15% 60% 20% 8%;
    }

    .account-creation {
        padding: 2.5rem 1rem;
    }
}


@media screen and (max-width: 480px) {

    

    .home h2 {
        font-size: 4rem;
        padding: 15% 60% 20% 8%;
    }
}
